// Colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$blue: rgb(0, 118, 211);
$green-light: rgb(97, 140, 123);
$yellow: rgb(194, 139, 0);
$green-dark: rgb(64, 122, 87);


// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;